<% if @tweet.errors.present? %>
エラーがあります。
<ul>
<% @tweet.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= form_for @tweet do |t| %>
<%= t.label :message ,"投稿内容" %>
<br>
<%= t.text_area :message, size: "50x20" %>
<br>
<%= t.submit 'つぶやく'%>
<% end %>


<% flash.each do |key,value| %>
  <p><%= value %><p>
<% end %>
